<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Atualizar Produto</title>
	<script type="text/javascript">
		function consulta() {
			window.open("/sig/produtos");
		}
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/contraste.css}" />
	<link rel="icon" th:type="@{imagem/favicon.ico}" th:href="@{/imagem/Favicon.ico}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>

	<!-- cabeçalho -->
	<header id="topo">
		<div id="acessibilidade">
			<ul id="atalhos">
				<li>
					<a href="#conteudo" accesskey="1" title="Ir diretamente para o conteúdo">Ir para o conteudo [1]</a>
				</li>

				<li>
					<a href="#menu" accesskey="2" title="Ir diretamente para o menu">Ir para o menu [2]</a>
				</li>

				<li>
					<a href="#rodape" accesskey="3" title="Ir diretamente para o rodapé">Ir para o rodape [3]</a>
				</li>
				
				<!--
				<li>
					<a class="nav-link textos-nav" href="/login?logout"><i
							class="fas fa-sign-out-alt icons-navbar"></i>Sair</a>
				</li>

				<li>
					<a class="nav-link textos-nav" href="/">
						<i class="fas fa-fast-backward"></i>
						Voltar </a>
				</li>
				-->
			</ul>

			<ul id="atalhos2">
				<li>
					<a th:href="@{/acessibilidade}" title="Ir para pagina de acessabilidade">Acessibilidade</a>
				</li>

				
				<li>
					<a href="#" title="Aumentar a fonte(Ctrl +)" id="aumentaFonte">A+</a>
				</li>

				<li>
					<a href="#" title="Diminuir a fonte(Ctrl -)" id="diminuiFonte">A-</a>
				</li>
			</ul>
		</div>

		<div class="navGrid">
			<!-- BARRA DE PESQUISA -->
			<div id="barraPesquisa">
				<input class="Buscar" type="text" name="buscar" placeholder="Buscar...">
				<!-- <img src="imagem/lupa-arredondada.png" alt="Pesquisar">  -->
			</div>

			<div class="logo">
				<!-- LOGO -->
				<a th:href="@{/}"><img th:src="@{/imagem/fullSportLogo.png}" alt="Logo da loja"></a>
			</div>

			<div>
				<!-- Icones de redes sociais -->
				<ul class="conjuntoIcones">
					<li>
						<a th:href="@{https://www.facebook.com}">
							<img th:src="@{/imagem/facebook.png}" alt="Facebook" />
						</a>
					</li>

					<li>
						<a th:href="@{https://twitter.com}">
							<img th:src="@{/imagem/twitter.png}" alt="Twitter" />
						</a>
					</li>

					<li>
						<a th:href="@{https://www.instagram.com/}">
							<img th:src="@{/imagem/instagram.png}" alt="Instagram" />
						</a>
					</li>

					<li>
						<a th:href="@{https://www.whatsapp.com}">
							<img th:src="@{/imagem/whatsapp.png}" alt="Whatsapp" />
						</a>
					</li>
				</ul>
			</div>
		</div>

		<nav id="menu">
			<ul>
				<li class="active"><a th:href="@{/Contraste}">Home</a></li>
				<li> <a th:href="@{/sig/clienteContraste}"> Clientes </a> </li>
				<li> <a th:href="@{/sig/produtoContraste}">Produtos</a></li>
				<li><a th:href="@{/equipamentosContraste}">Equipamentos</a></li>
				<li><a th:href="@{/login?logout}">Logout</a></li>
			</ul>
		</nav>
	</header>
	<!-- Vlibrs -->
	<div vw class="enabled">
		<div vw-access-button class="active"></div>
		<div vw-plugin-wrapper>
			<div class="vw-plugin-top-wrapper"></div>
		</div>
	</div>

	<main id="conteudo">
		<br />
		<h3>Atualizar Produto</h3>
		<div class="form-cadastro-cliente">
			<br />
			<br>
			<form action="#" th:action="@{/sig/produtosContraste/id/{id} (id=${produto.id}) }" th:object="${produto}"
				method="post">
				<div class="row-1-grid">

					<label for="cnpj" class="col-form-label">Nome do Produto</label>
					<div>
						<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{nome}" class="txt-form" id="nome" placeholder="Nome Produto">
					</div>

					<label for="tipo" class="col-form-label">Tipo do Produto</label>
					<div>
						<span th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{tipo}" class="txt-form" id="nome" placeholder="Tipo do Produto">
					</div>

					<label for="cor" class="col-form-label">Cor do Produto</label>
					<div>
						<span th:if="${#fields.hasErrors('cor')}" th:errors="*{cor}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{cor}" class="txt-form" id="nome" placeholder="Cor do Produto">
					</div>

					<label for="nome" class="col-form-label">Preço do Produto</label>
					<div>
						<span th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{preco}" class="txt-form" id="nome" placeholder="Preço Produto">
					</div>

					<label for="dataNascimento" class="col-form-label">Data de Cadastro do Produto</label>
					<div>
						<span th:if="${#fields.hasErrors('dataCadastro')}" th:errors="*{dataCadastro}"
							class="txt-aviso">
						</span>
						<input type="text" th:field="*{dataCadastro}" class="txt-form" id="dataCadastro"
							placeholder="Data Cadastro">
					</div>

					<label for="qtdEstoque" class="col-form-label">Quantidade de produtos</label>
					<div>
						<span th:if="${#fields.hasErrors('qtdEstoque')}" th:errors="*{qtdEstoque}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{qtdEstoque}" class="txt-form" id="qtdEstoque"
							placeholder="qtdEstoque">
					</div>

					<label for="cnpj">CNPJ</label>
					<div>
						<span th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{cnpj}" id="cnpj" class="txt-form"
							placeholder="Informe o CPNJ do fornecedor">
					</div>

				</div>
				<div class="btt-cad-cliente-grid">
					<input type="submit" class="btn-cad-cliente" value="Atualizar Produto">
					<input type="button" class="btn-cad-cliente" value="Consultar Produto" onclick="consulta();">
				</div>
			</form>
		</div>
		<h6 th:text="${message}" class="txt-aviso"></h6>

	</main>
	<footer id="rodape">
		<div class="grid-footer">
			<div id="desenvolvedoresFoot">
				<p class="tituloFoot">Desenvolvido pelo Grupo 5 - Fatec Zona Leste</p>
				<p>Renan Figueiredo</p>
				<p>Lisandra Ferraz</p>
				<p>Gabriel Gozzi</p>
			</div>

			<div id="selosFoot">
				<p class="tituloFoot">Site verificado por</p>
				<a href="http://jigsaw.w3.org/css-validator/check/referer">
					<img style="border:0;width:88px;height:31px"
						src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="CSS válido!" />
				</a>

				<a href="http://jigsaw.w3.org/css-validator/check/referer">
					<img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss"
						alt="CSS válido!" />
				</a>
			</div>
		</div>
		<p class="drtsFooter">Todos os direitos reservados &copy; 2022.</p>
	</footer>


	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

	<script src="js/fonte.js"></script>
	<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
	<script>
		new window.VLibras.Widget('https://vlibras.gov.br/app');
	</script>
</body>

</html>