<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Login</title>
	<!--metadados-->
	<meta charset="utf-8">
	<meta name="description" content="Login">
        
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/contraste.css}" />
    <link rel="icon" th:type="@{imagem/favicon.ico}" th:href="@{/imagem/Favicon.ico}">
     <script>
		function autenticacao() {
			window.open("/sig/login");
		}     
     </script>
    </head>

<body>
	 <!-- cabeçalho -->
        <header id="topo">
            <div id="acessibilidade">
                <ul id="atalhos">
                    <li>
                        <a href="#conteudo" accesskey="1" title="Ir diretamente para o conteúdo">Ir para o conteudo [1]</a>
                    </li>

                    <li>
                        <a href="#menu" accesskey="2" title="Ir diretamente para o menu">Ir para o menu [2]</a>
                    </li>

                    <li>
                        <a href="#rodape"accesskey="3" title="Ir diretamente para o rodapé">Ir para o rodape [3]</a>
                    </li>
                </ul>

                <ul id="atalhos2">
                    <li>
                        <a th:href="@{/acessibilidade}"  title="Ir para pagina de acessabilidade">Acessibilidade</a>
                    </li>

                   

                    <li >
                        <a th:href="@{/sig/login}" title="sem Contraste" id="modoClaro">Modo Claro</a>
                    </li>

                    <li>
                        <a href="#" title="Aumentar a fonte(Ctrl +)" id="aumentaFonte">A+</a>
                    </li>

                    <li>
                        <a href="#" title="Diminuir a fonte(Ctrl -)" id="diminuiFonte">A-</a>
                    </li>
                </ul>
            </div>
            
           
        </header>
	<!-- Vlibrs -->
	<div vw class="enabled">
		<div vw-access-button class="active"></div>
		<div vw-plugin-wrapper>
			<div class="vw-plugin-top-wrapper"></div>
		</div>
	</div>
	
	<!--================================================================================================-->
	<br>
	<form th:action="@{/login}" method="post">
		<div class="login-page">
			<div class="form">

				<form>
					<input type="text" name="username" placeholder="username" />
					 <input type="password" name="password" placeholder="password" />
					<button>login</button>
					<p class="message">
						Não cadastrado? <a href="#">Crie uma conta</a>
					</p>

				</form>
				<div th:if="${param.error}">Invalid username and password.</div>
				<div th:if="${param.logout}">You have been logged out.</div>
			</div>
		</div>
	</form>
	<footer id="rodape">
		<div class="grid-footer">
			<div id="desenvolvedoresFoot">
				<p class="tituloFoot">Desenvolvido pelo Grupo 5 - Fatec Zona Leste</p>
				<p>Renan Figueiredo</p>
				<p>Lisandra Ferraz</p>
				<p>Gabriel Gozzi</p>
			</div>

			<div id="selosFoot">
				<p class="tituloFoot">Site verificado por</p>
				<a href="http://jigsaw.w3.org/css-validator/check/referer">
					<img style="border:0;width:88px;height:31px"
						src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="CSS válido!" />
				</a>

				<a href="http://jigsaw.w3.org/css-validator/check/referer">
					<img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss"
						alt="CSS válido!" />
				</a>
			</div>
		</div>
		<p class="drtsFooter">Todos os direitos reservados &copy; 2022.</p>
	</footer>
</body>

</html>


<script src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
crossorigin="anonymous"></script>
<script th:src="@{js/fonte.js}"></script>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>

