<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<title>Cadastrar Pedido</title>
	<!--metadados-->
	<meta charset="utf-8">
	<meta name="description" content="Inicio">
	<meta name="keywords" content="CadastrarCliente, web">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="icon" th:type="@{imagem/favicon.ico}" th:href="@{/imagem/Favicon.ico}">
	<script type="text/javascript">
		function consulta() {
			window.open("/sig/pedido");
		}
	</script>
</head>

<body>
	<!-- cabecalho -->
	<header id="topo">
		<div id="acessibilidade">
			<ul id="atalhos">
				<li>
					<a href="#conteudo" accesskey="1" title="Ir diretamente para o conteÃšdo">Ir para o conteudo [1]</a>
				</li>

				<li>
					<a href="#menu" accesskey="2" title="Ir diretamente para o menu">Ir para o menu [2]</a>
				</li>

				<li>
					<a href="#rodape" accesskey="3" title="Ir diretamente para o rodapÃĐ">Ir para o rodape [3]</a>
				</li>
				
				<!--
				<li>
					<a class="nav-link textos-nav" href="/login?logout"><i
							class="fas fa-sign-out-alt icons-navbar"></i>Sair</a>
				</li>

				<li>
					<a class="nav-link textos-nav" href="/">
						<i class="fas fa-fast-backward"></i>
						Voltar </a>
				</li>
				-->
				
			</ul>

			<ul id="atalhos2">
				<li>
					<a th:href="@{/acessibilidade}" title="Ir para pagina de acessabilidade">Acessibilidade</a>
				</li>

				<li>
					<a th:href="@{/sig/pedidos}" title="Contraste preto" id="modoEscuro">Modo escuro</a>
				</li>

				<li >
					<a th:href="@{/sig/pedidos}" id="modoClaro">Modo Claro</a>
				</li>

				<li>
					<a href="#" title="Aumentar a fonte(Ctrl +)" id="aumentaFonte">A+</a>
				</li>

				<li>
					<a href="#" title="Diminuir a fonte(Ctrl -)" id="diminuiFonte">A-</a>
				</li>
			</ul>
		</div>

		<div class="navGrid">
			<!-- BARRA DE PESQUISA -->
			<div id="barraPesquisa">
				<input class="Buscar" type="text" name="buscar" placeholder="Buscar...">
				<!-- <img src="imagem/lupa-arredondada.png" alt="Pesquisar">  -->
			</div>

			<div class="logo">
				<!-- LOGO -->
				<a th:href="@{/}"><img th:src="@{/imagem/fullSportLogo.png}" alt="Logo da loja"></a>
			</div>

			<div>
				<!-- Icones de redes sociais -->
				<ul class="conjuntoIcones">
					<li>
						<a th:href="@{https://www.facebook.com}">
							<img th:src="@{/imagem/facebook.png}" alt="Facebook" />
						</a>
					</li>

					<li>
						<a th:href="@{https://twitter.com}">
							<img th:src="@{/imagem/twitter.png}" alt="Twitter" />
						</a>
					</li>

					<li>
						<a th:href="@{https://www.instagram.com/}">
							<img th:src="@{/imagem/instagram.png}" alt="Instagram" />
						</a>
					</li>

					<li>
						<a th:href="@{https://www.whatsapp.com}">
							<img th:src="@{/imagem/whatsapp.png}" alt="Whatsapp" />
						</a>
					</li>
				</ul>
			</div>
		</div>

		<nav id="menu">
			<ul>
                <li> <a th:href="@{/}"> Home </a> </li>
				<li> <a th:href="@{/sig/cliente}"> Clientes </a> </li>
				<li> <a th:href="@{/sig/produto}">Produtos</a></li>
				<li> <a th:href="@{/sig/pedido}">Pedidos</a></li>
				<li><a th:href="@{/equipamentos}">Equipamentos</a></li>
				<li><a th:href="@{/login?logout}">Logout</a></li>
			</ul>	
		</nav>

			<nav class="barra__menu">
				<h1 class="titulo__cabecalho"><button class="cabecalho__munu" aria-label="Menu"><i></i></button>Menu</h1>
			</nav>
	

				<nav class="menu-lateral">
					<ul>
                        <li> <a th:href="@{/}" class="menu-lateral__link menu-lateral__link--inicio menu-lateral__link--ativo"> Home </a> </li>
						<li> <a th:href="@{/sig/cliente}" class="menu-lateral__link menu-lateral__link--inicio "> Clientes </a> </li>
						<li> <a th:href="@{/sig/produto}"  class="menu-lateral__link menu-lateral__link--PortifolioDesign">Produtos</a></li>
						<li> <a th:href="@{/scv/pedido}" class="menu-lateral__link menu-lateral__link--PortifolioDesign">Pedidos</a></li>
						<li><a th:href="@{/equipamentos}" class="menu-lateral__link menu-lateral__link--PortifolioDesign">Equipamentos</a></li>
						<li><a th:href="@{/login?logout}" class="menu-lateral__link menu-lateral__link--PortifolioDesign">Logout</a></li>
					</ul>
				</nav>
	</header>
	<!-- Vlibrs -->
	<div vw class="enabled">
		<div vw-access-button class="active"></div>
		<div vw-plugin-wrapper>
			<div class="vw-plugin-top-wrapper"></div>
		</div>
	</div>


	<!--]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]-->
	<main id="conteudo">
		<br />
		<h3 class="exibe-titulo">Cadastrar Pedido</h3>
		<div class="form-cadastro-cliente">
			<br>
			<form action="#" th:action="@{/sig/pedidos}" th:object="${umPedido}" method="post">

				<div class="row-1-grid">

					<label for="cpf" class="col-form-label">CPF</label>
					<div>
						<span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{cpf}" id="cpf" class="txt-form"
							placeholder="Informe o CPF">
					</div>

                    <label for="produtoId" class="col-form-label">Código do Produto</label>
					<div>
						<input type="text" th:field="*{produtoId}" class="form-control" id="produtoId"
						placeholder="Informe o Código do produto">
					<span th:if="${#fields.hasErrors('produtoId')}" th:errors="*{produtoId}"
						class="txt-aviso"> </span>
					</div>

                    <label for="quantidade" class="col-form-label">Quantidade</label>
					<div>
						<span th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{quantidade}" id="quantidade" class="txt-form"
							placeholder="Informe a quantidade">
					</div>


				<div class="btt-cad-cliente-grid">
					<input type="submit" class="btn-cad-cliente" value="Finalizar Produto">
					<input type="button" class="btn-cad-cliente" value="Consultar Pedidos" onclick="consulta()">
				</div>

			</form>

			<h6 th:text="${message}" class="txt-aviso"></h6>
		</div>

	</main>

	<footer id="rodape">
		<div class="grid-footer">
			<div id="desenvolvedoresFoot">
				<p class="tituloFoot">Desenvolvido pelo Grupo 5 - Fatec Zona Leste</p>
				<p>Renan Figueiredo</p>
				<p>Lisandra Ferraz</p>
				<p>Gabriel Gozzi</p>
			</div>

			<div id="selosFoot">
				<p class="tituloFoot">Site verificado por</p>
				<a href="http://jigsaw.w3.org/css-validator/check/referer">
					<img style="border:0;width:88px;height:31px"
						src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="CSS vÃĄlido!" />
				</a>

				<a href="http://jigsaw.w3.org/css-validator/check/referer">
					<img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss"
						alt="CSS vÃĄlido!" />
				</a>
			</div>
		</div>
		<p class="drtsFooter">Todos os direitos reservados &copy; 2022.</p>
	</footer>
	<footer id="rodapeRsponsivo">

		<p class="tituloFoot">Desenvolvido pelo Grupo 4 - Fatec Zona Leste</p><br>
		<p>Renan Figueiredo</p><br>
		<p>Lisandra Ferraz</p><br>
		<p>Gabriel Gozzi</p>

		<div >
			<p class="tituloFoot">Site verificado por</p>
			<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img style="border:0;width:88px;height:31px"
					src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="CSS válido!" />
			</a>

			<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss"
					alt="CSS válido!" />
			</a>
		</div>

<p class="drtsFooter">Todos os direitos reservados &copy; 2022.</p>
</footer>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script th:src="@{/js/fonte.js}"></script>
<script th:src="@{/js/contraste.js}"></script>
<script th:src="@{/js/botao.js}"></script>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
	new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>