<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<title>Cadastrar Produto</title>
	<!--metadados-->
	<meta charset="utf-8">
	<meta name="description" content="Inicio">
	<meta name="keywords" content="CadastrarCliente, web">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="icon" th:type="@{imagem/favicon.ico}" th:href="@{/imagem/Favicon.ico}">
</head>

<body>
	<!-- cabecalho -->
	<header id="topo">
		<div id="acessibilidade">
			<ul id="atalhos">
				<li>
					<a href="#conteudo" accesskey="1" title="Ir diretamente para o conteÃšdo">Ir para o conteudo [1]</a>
				</li>

				<li>
					<a href="#menu" accesskey="2" title="Ir diretamente para o menu">Ir para o menu [2]</a>
				</li>

				<li>
					<a href="#rodape" accesskey="3" title="Ir diretamente para o rodapÃĐ">Ir para o rodape [3]</a>
				</li>
				
				<!--
				<li>
					<a class="nav-link textos-nav" href="/login?logout"><i
							class="fas fa-sign-out-alt icons-navbar"></i>Sair</a>
				</li>

				<li>
					<a class="nav-link textos-nav" href="/">
						<i class="fas fa-fast-backward"></i>
						Voltar </a>
				</li>
				-->
				
			</ul>

			<ul id="atalhos2">
				<li>
					<a th:href="@{/acessibilidade}" title="Ir para pagina de acessabilidade">Acessibilidade</a>
				</li>

				<li>
					<a th:href="@{/sig/produto}" title="Contraste preto" id="modoEscuro">Modo escuro</a>
				</li>

				<li >
					<a th:href="@{/sig/produto}" id="modoClaro">Modo Claro</a>
				</li>

				<li>
					<a href="#" title="Aumentar a fonte(Ctrl +)" id="aumentaFonte">A+</a>
				</li>

				<li>
					<a href="#" title="Diminuir a fonte(Ctrl -)" id="diminuiFonte">A-</a>
				</li>
			</ul>
		</div>

		<div class="navGrid">
			<!-- BARRA DE PESQUISA -->
			<div id="barraPesquisa">
				<input class="Buscar" type="text" name="buscar" placeholder="Buscar...">
				<!-- <img src="imagem/lupa-arredondada.png" alt="Pesquisar">  -->
			</div>		
			<div class="logo">
				<!-- LOGO -->
				<a th:href="@{/}"><img th:src="@{/imagem/fullSportLogo.png}" alt="Logo da loja"></a>
			</div>

			<div>
				<!-- Icones de redes sociais -->
				<ul class="conjuntoIcones">
					<li>
						<a th:href="@{https://www.facebook.com}">
							<img th:src="@{/imagem/facebook.png}" alt="Facebook" />
						</a>
					</li>

					<li>
						<a th:href="@{https://twitter.com}">
							<img th:src="@{/imagem/twitter.png}" alt="Twitter" />
						</a>
					</li>

					<li>
						<a th:href="@{https://www.instagram.com/}">
							<img th:src="@{/imagem/instagram.png}" alt="Instagram" />
						</a>
					</li>

					<li>
						<a th:href="@{https://www.whatsapp.com}">
							<img th:src="@{/imagem/whatsapp.png}" alt="Whatsapp" />
						</a>
					</li>
				</ul>
			</div>
		</div>

		<nav id="menu">
			<ul>
				<li> <a th:href="@{/}">Inicio</a> </li>
				<li> <a th:href="@{/sig/cliente}"> Clientes </a> </li>
				<li> <a th:href="@{/sig/produto}">Produtos</a></li>
				<li> <a th:href="@{/sig/pedidos}">Pedidos</a></li>
				<li><a th:href="@{/equipamentos}">Equipamentos</a></li>
				<li><a th:href="@{/login?logout}">Logout</a></li>
			</ul>	
		</nav>

			<nav class="barra__menu">
				<h1 class="titulo__cabecalho"><button class="cabecalho__munu" aria-label="Menu"><i></i></button>Menu</h1>
			</nav>
	

			<nav class="menu-lateral">
				<ul>
					<li> <a th:href="@{/}" class="menu-lateral__link menu-lateral__link--inicio menu-lateral__link--ativo"> Home </a> </li>
					<li> <a th:href="@{/sig/cliente}" class="menu-lateral__link menu-lateral__link--clientes "> Clientes </a> </li>
					<li> <a th:href="@{/sig/produto}"  class="menu-lateral__link menu-lateral__link--produtos">Produtos</a></li>
					<li> <a th:href="@{/sig/pedidos}" class="menu-lateral__link menu-lateral__link--pedidos">Pedidos</a></li>
					<li><a th:href="@{/equipamentos}" class="menu-lateral__link menu-lateral__link--equipamentos">Equipamentos</a></li>
					<li><a th:href="@{/login?logout}" class="menu-lateral__link menu-lateral__link--logout">Logout</a></li>
				</ul>
			</nav>
	</header>
	<!-- Vlibrs -->
	<div vw class="enabled">
		<div vw-access-button class="active"></div>
		<div vw-plugin-wrapper>
			<div class="vw-plugin-top-wrapper"></div>
		</div>
	</div>


	<!--]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]-->
	<main id="conteudo">
		<br />
		<h3 class="exibe-titulo">Cadastrar Produto</h3>
		<div class="form-cadastro-cliente">
			<br>
			<form action="#" th:action="@{/sig/produtos}" th:object="${produto}" method="post" enctype="multipart/form-data">

				<div class="row-1-grid">

					<label for="nome">Nome</label>
					<div>
						<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{nome}" id="nome" class="txt-form"
							placeholder="Informe o nome do produto">
					</div>


					<label for="tipo">Tipo do Produto</label>
					<div>
						<span th:if="${#fields.hasErrors('qtdEstoque')}" th:errors="*{tipo}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{tipo}" id="tipo" class="txt-form"
							placeholder="Informe qual o tipo de produto">
					</div>


					<label for="cor">Cor do Produto</label>
					<div>
						<span th:if="${#fields.hasErrors('cor')}" th:errors="*{cor}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{cor}" id="cor" class="txt-form"
							placeholder="Informe a cor do produto">
					</div>


					<label for="preco">Preço</label>
					<div>
						<span th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{preco}" id="preco" class="txt-form"
							placeholder="Informe o preço do produto">
					</div>

					<label for="data">Data de Cadastro do Produto</label>
					<div>
						<span th:if="${#fields.hasErrors('dataCadastro')}" th:errors="*{dataCadastro}"
							class="txt-aviso">
						</span>
						<input type="text" th:field="*{dataCadastro}" id="preco" class="txt-form"
							placeholder="Informe a data de cadastro">
					</div>

					<label for="qtdEstoque">Quantidade de produtos</label>
					<div>
						<span th:if="${#fields.hasErrors('qtdEstoque')}" th:errors="*{qtdEstoque}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{qtdEstoque}" id="qtdEstoque" class="txt-form"
							placeholder="Informe quantidade de produtos">
					</div>


					<label for="cnpj">CNPJ</label>
					<div>
						<span th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}" class="txt-aviso">
						</span>
						<input type="text" th:field="*{cnpj}" id="cnpj" class="txt-form" 
							placeholder="Informe o CPNJ do fornecedor">
					</div>
					
					<label for="nomeImagem">fotos do produto:</label> 
					<div >
						<!--multiple="multiple"-->
						<span th:if="${#fields.hasErrors('nomeImagem')}" th:errors="*{nomeImagem}" class="txt-aviso">
						</span>
						<!--multiple="multiple"-->
                        <input type="file" accept="image/png,image/jpeg" id="imagem" name="file" 
						placeholder="faça uma upload de uma iamgem imagem">
                    </div>
				</div>

				<div class="btt-cad-cliente-grid">
					<input type="submit" class="btn-cad-cliente" value="Cadastrar Produto">
					<a th:href="@{/sig/produtos}"><input type="button" class="btn-cad-cliente" value="Consultar Produto" ></a>
				</div>

				
			</form>

			<h6 th:text="${message}" class="txt-aviso"></h6>
		</div>

	</main>

	<footer id="rodape">
		<div class="grid-footer">
			<div id="desenvolvedoresFoot">
				<p class="tituloFoot">Desenvolvido pelo Grupo 4 - Fatec Zona Leste</p>
				<p>Renan Figueiredo</p>
				<p>Lisandra Ferraz</p>
				<p>Gabriel Gozzi</p>
			</div>

			<div id="selosFoot">
				<p class="tituloFoot">Site verificado por</p>
				<a href="http://jigsaw.w3.org/css-validator/check/referer">
					<img style="border:0;width:88px;height:31px"
						src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="CSS vÃĄlido!" />
				</a>

				<a href="http://jigsaw.w3.org/css-validator/check/referer">
					<img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss"
						alt="CSS vÃĄlido!" />
				</a>
			</div>
		</div>
		<p class="drtsFooter">Todos os direitos reservados &copy; 2022.</p>
	</footer>

	<footer id="rodapeRsponsivo">

		<p class="tituloFoot">Desenvolvido pelo Grupo 4 - Fatec Zona Leste</p><br>
		<p>Renan Figueiredo</p><br>
		<p>Lisandra Ferraz</p><br>
		<p>Gabriel Gozzi</p>

		<div >
			<p class="tituloFoot">Site verificado por</p>
			<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img style="border:0;width:88px;height:31px"
					src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="CSS válido!" />
			</a>

			<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss"
					alt="CSS válido!" />
			</a>
		</div>

<p class="drtsFooter">Todos os direitos reservados &copy; 2022.</p>
</footer>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script th:src="@{/js/fonte.js}"></script>
<script th:src="@{/js/contraste.js}"></script>
<script th:src="@{/js/botao.js}"></script>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
	new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>