*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #ebebeb;
    grid-template-columns: auto;
    grid-auto-columns: auto;
    /* font-size: 16px; */
}


body::-webkit-scrollbar {
    max-width: auto;
    max-height: 50px;
}
  
body::-webkit-scrollbar-track {
    background: #fbfbfb;
    border-radius: 20px;
}
  
body::-webkit-scrollbar-thumb {
    display: block;
    background-color: rgba(5, 5, 5, 0.178);
    border-radius: 20px;
    max-height: 5px;
    border: 1px solid transparent; 
}


/* HEADER */
*{
    margin: 0;
    padding: 0;
}

header * {
    background-color: #ebebeb;
}

#acessibilidade * {
    background-color: #ebebeb;
}

#acessibilidade{
    padding: 15px 0 0 0;
    min-height: 35px;
    font-weight: 450;
    font-size: 14px;
	height: auto;
	margin: auto;
}

#acessibilidade ul li{
    margin-left: 20px;
}

#acessibilidade a {
    text-decoration: none;
    color: #2e2e2e;
}

#acessibilidade a:hover {
    text-decoration: underline;
}

#atalhos{
    margin-left: 105px;
    float: left;
    list-style: none;
}

#atalhos2{
    margin-right: 105px;
    float: right;
    list-style: none;
}

#acessibilidade li{
    display: inline;
}

.conjuntoIcones{
    margin-top: 12%;
    float: right;
}

.conjuntoIcones img{
    height: 24px;
}

.conjuntoIcones li{
    margin-left: 5px;
    display: inline;
    color: rgb(255, 255, 255);
}

.conjuntoIcones a {
    text-decoration: none;
}

.navGrid{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: minmax(120px,auto);
    /* width: 100%; */
}


/* MENU*/
#topo{
    width: 100%;
    height: auto;
}

#barraPesquisa input{
    padding: 8px;
    width: 350px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #fff;
}

#barraPesquisa input:active{
    border: 1px solid #fff;
}

#barraPesquisa{
    margin-top: 12%;
    float: left;
}

.logo img{
    height: 100px;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.pesquisa{
    padding-left: 8%;
}

/* .Buscar{
    background-color: #d1d1d1; 
} */

#menu * {
    background-color: #a6e65a;
}

#menu ul {
    text-align: center;
    list-style:none;
}
#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    border: 10px solid #a6e65a;
    /* visual do link */
    background-color: #a6e65a;
    color: #2e2e2e;
    text-decoration: none;
}

#menu ul a:hover {
    /* height: 35px; */
    background-color:#ebebeb;
    border: 10px solid #ebebeb;
    color: #2e2e2e;
}

#selosFoot{
    float: right;
    text-align: right;
    line-height: 20px;
}

#desenvolvedoresFoot p{
    line-height: 20px;
    text-align: left;
    font-size: 14px;
}

.tituloFoot{
    line-height: 40px;
    font-weight: 600;
}

.drtsFooter{
    text-align: center;
    padding: 20px 0 20px 0;
}

.grid-footer{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 450px);
}

#rodape *{  
    background-color: #fff;
}

#rodape{
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: #313131;
    text-align: center;
    padding: 20px 0 30px 0;
    grid-template-columns: auto;
    grid-auto-columns: auto;
}
/* FIM DA HEADER */


/* ACESSIBILIDADE */
.txtAcess{
    margin: 60px 60px 60px 60px;
}
.txtAcess h1{
    text-align: center;
    font-size: 22px;
    color: black;
    margin: 0 0 20px;
}
.txtAcess h2{
    text-align: center;
    color: black;
    font-size: 20px;
    margin: 20px 0 20px;
}
.txtAcess p{
    text-align: center;
    font-size: 16px;
    color: black;
    line-height: 25px;
}
/* FIM ACESSIBILIDADE */


/*conteudo*/
#conteudo{
    width: 100%;
    min-height: 600px;
}

.conjuntoNovidades{
    margin:  30px 0 0 0;

    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 10px;
}

.cardNov img{ 
    height: 124px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#marcas{
    margin: 80px 0 0 0;
}

.doubleGrid{
    justify-content: center;
    margin: 0 40px 0 40px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 30px;
}

.card-FTZ *{
    background-color: #fff;
}

.anuncioFutureZ img{
    height: 755px;
}

.imgTenisFTZ{
    text-align: center;
}

.card-FTZ img{
    height: 190px;
}

.card-FTZ{
    line-height: 25px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    width: fit-content;
    background-color: #fff;
}

.card-FTZ:hover{
    transition: .3s;
    box-shadow: 0 0 6px rgba(143, 106, 106, .6);
}

.conjuntoTenisFZ{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 20px;
}

.conjuntoMarcas{
    display: flex;
    overflow-x: auto;

    justify-content: center;
    /* margin: 0 40px 0 40px; */
    
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 50px;
}

.conjuntoMarcas img{
    height: 64px;
}

/* .conjuntoMarcas img:hover{
    height: 65px;
} */

.conjuntoMarcas::-webkit-scrollbar {
    max-width: auto;
    height: auto;
}
  
.conjuntoMarcas::-webkit-scrollbar-track {
    background: rgba(253, 254, 255, 0.5);
    border-radius: 20px;
}
  
.conjuntoMarcas::-webkit-scrollbar-thumb {
    display: block;
    background-color: rgba(153, 153, 153, 0.3);
    border-radius: 20px;
    border: 1px solid transparent; 
  }


.propaganda img {
    min-width: 100%;
    height: auto;
    /* height: 470px; */
}

.categorias-grid{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 24px;
}

.tituloSec{
    text-align: center;
    margin: 5px 0 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    color: rgb(49, 49, 49);
}

#categorias img {
    height: 430px;
}

.zoom {
	overflow: hidden;
}

.zoom img {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#produtosProcurados{
    margin: 50px 0;
}

.conjuntoCard{
    justify-content: center;
    display: flex;
    overflow-x: auto;
    padding: 10px 10px;
    margin: 0 40px 0 40px;

    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 18px;
    
}
.conjuntoCard::-webkit-scrollbar {
    max-width: auto;
    height: auto;
}
  
.conjuntoCard::-webkit-scrollbar-track {
    background: rgba(253, 254, 255, .9);
    border-radius: 20px;
}
  
.conjuntoCard::-webkit-scrollbar-thumb {
    display: block;
    background-color: rgba(153, 153, 153, 0.3);
    border-radius: 20px;
    border: 1px solid transparent; 
}

.card *{
    background-color: #fff;
}

.card{
    line-height: 25px;
    padding: 10px;
    /* box-shadow: -5px 5px 5px rgba(0, 0, 0, .1); */
    width: fit-content;
    background-color: #fff;
}

.card img{
    height: 280px;
}

.descCard{
    color: #1b1b1b;
}

.corpoCard h3{
    color: #1b1b1b;
    font-size: 19px;
}

.frtGrtsCard{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    /* width: max-content; */
    color: #62aa0b;
    /* background-color: #a6e65a; */
}

.tituloCard{
    font-size: 16px;
    color: #1b1b1b;
}

.precoAnterior{
    color: #1b1b1b;
    text-decoration: line-through;
}

.cadastro-cliente-grid{
	justify-content: center;
    margin: 40px 80px 40px 80px;
	
	
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 25px;
    line-height: 40px;
}

.row-1-grid{
	display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 25px;
}

.row-2-grid{
	display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 25px;
}

.input-cad-cliente{
	background-color: #f7f7f7;
    display: block;
    min-width: 630px;
    min-height: 24px;
    padding: 5px;
}

.input-cad-cliente{
	border: 1px solid rgb(192, 192, 192);
}

***********************************

.atendimento-grid{
    justify-content: center;
    margin: 40px 40px 40px 40px;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 25px;
    line-height: 40px;
}

.ilustracaoAtd img{
    height: 565px;
}

.nomeSobre {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 25px;
}

label{
    color: rgb(58, 58, 58);
}

.formularioAtd label{
    color: #313131;
}

.formularioAtd input, textarea{
    border: 1px solid rgb(175, 175, 175);
    font-size: 14px;
    color: rgb(58, 58, 58);
}

.formularioAtd input:focus, textarea:focus{
    box-shadow: 0 0 3px #5aac23;
    background-color: #fcfcfc;
    outline: none;
    /* border: 1px solid #5aac23; */
}

.outrosForm select{
    min-width: 640px;
    min-height: 24px;
    font-size: 16px;
    background-color: #313131;
    background-color: #f7f7f7;
}

.outrosForm select:focus{
    background-color: #fcfcfc;
}

.outrosForm option{
    background-color: #f7f7f7;
}

.nomeSobre input{
    background-color: #f7f7f7;
    display: block;
    min-width: 300px;
    min-height: 24px;
    padding: 5px;
}

.outrosForm input, textarea{
    background-color: #f7f7f7;
    display: block;
    min-width: 630px;
    min-height: 24px;
    padding: 5px;

}
.outrosForm textarea{
    resize: none;
    min-height: 74px;
}

input.submit{
    font-size: 15px;
    color: #fff;
    background-color: #313131;
    min-height: 36px;
    min-width: 200px;
    margin: 20px 0;
}

.submit:focus{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    outline: none;
    border-color:rgba(0, 0, 0, .5);
}

/* equipamentos */

.grid-equipamentos{
    justify-content: center;
    margin: 40px 40px 40px 40px;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 25px;
}

.grid-produtos-equi{
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 25px;
}

.novidade-img img{
    height: 384px;
}

.colorPick div{
    display: inline-block;
}

.colorPick a{
    text-decoration: none;
}

.pink, .blue, .green, .red, .purple, .yellow, .white, .black, .gray {
    width: 15px;
    height: 15px;
    border: 1px solid #49494980;
    margin: 2px 0;
}

.pink{background-color: pink;}.blue{background-color: blue;}.green{background-color: green;}
.red{background-color: red;}.purple{background-color: purple;}.yellow{background-color: yellow;}
.white{background-color: white;}.black{background-color: black;}.gray{background-color: gray;}

/* .categoFiltra label input{
    display: inline-block;
} */

.filtragem-novi , .precoFiltra,.dispoFiltra, .colorPick, .categoFiltra{
    padding-bottom: 10px;
    margin: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0,.1);
    color: #2e2e2e;
}

.filtragem-novi p {
    margin: 5px 0 ;
}

.precoFiltra select, option{
    min-height: 24px;
    font-size: 14px;
    background-color: #fff;
}

.dispoFiltra input{
    display: inline-block;
}

.categoFiltra li{
    display: flex;
}
.categoFiltra li label{
    margin-left: 10px;
    color: #1b1b1b;
}

/* fim equipamentos */

/* Visualização de produto */
#visualizacaoPrd .gridVisuPrd{
    margin: 40px 0;
    margin-left: auto;
    margin-right: auto;
}

.gridVisuPrd *{
    background-color: rgb(255, 255, 255);
}

.gridVisuPrd{
    justify-content: center;
    /* POSSIVEL MUDANÇA PARA 1200PX */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* grid-gap: 25px; */
}
/* .fotosAdcPrd{
    margin: 0 0  0 300px;
} */

.fotosAdcPrd img{
    height: 124px;
}

.fotosAdcPrd button{
    /* margin: 0 0 0 300px; */
    display: block;
    margin: 10px 0 10px 10px;
    border: 1px solid rgba(5, 5, 5, 0.527);
}

.fotosAdcPrd button:hover{
    border: 1px solid rgb(128, 202, 44);
}

.fotosAdcPrd button:focus{
    border: 1px solid rgb(128, 202, 44);
}


.fotoPrd{
    overflow: hidden;
}

.fotoPrd img{
    margin: 10px 0 10px;
    height: 460px;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.fotoPrd:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.3);
    cursor: zoom-in;
}

/* #zoomImg{
    width: 500px;
    height: 300px;
    background-image: url("../imagem/produtos/chuteira-campo-puma-one-1.jpg");
    background-position: center;
    background-size: cover;
} */

#imgPrd1{display: block;} #imgPrd2, #imgPrd3, #imgPrd4{display: none;}

.conteudoDescAnunPrd{
    margin: 20px 20px 0 ;
}

.descAnunPrd{
    color: #313131;
    border: 2px solid rgba(0, 0, 0, 0.123);
}

.descAnunPrd *{
    line-height: 35px;
}

.titDescPrd{
    font-weight: 600;
    font-size: 20px;
}

.prcPromoPrd{
    text-decoration: line-through;
    font-size: 16px;
}

.prcPrd{
    font-weight: 600;
    font-size: 26px;
    color: #7aaa2e;
}
.subTitPrd{
    font-size: 17px;
}

.tmnhPrd p{
    font-size: 15px;
    font-weight: 600;
}

.tmnhQtd p{
    font-size: 15px;
    font-weight: 600;
}

.tmnhQtd input{
    width: 45px;
    font-size: 15px;
    text-align: center;
    border: 1px solid rgba(5, 5, 5, 0.527);
}

.tmnhQtd input:focus{
    outline: none;
}

.btt-cad-cliente-grid{
	justify-content: center;
    margin: 40px 80px 40px 80px;
	
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 25px;
    line-height: 40px;
}

input.btn-cad-cliente {
    margin-right: auto;
    margin-left: auto;
    display: block;

    border: none;
    background-color: #313131;
    
    color: rgb(243, 243, 243);
    font-size: 14px;

    min-width: 180px;
    min-height: 44px;
}

input.btn-cad-cliente:hover{
    text-decoration: none;
    background-color: rgb(0, 0, 0);
	transform:translate(0.3s);
}
*****************************************
.btnLinkPrd{
    line-height: 50px;
    margin: 15px 0 ;
    text-align: center;
}

.btnLinkPrd input{
    margin-right: auto;
    margin-left: auto;
    display: block;


    border: none;
    background-color: #313131;

    text-transform: uppercase;
    color: #fff;
    font-size: 16px;

    min-width: 180px;
    min-height: 44px;
}

.btnLinkPrd input:hover{
    text-decoration: none;
    background-color: rgb(0, 0, 0);
	transform:translate(0.3s);
}

.btnLinkPrd a{
    color: #313131;
}

/* FIM Visualização de produto */

/* CadastraCliente*/
h3{
	text-align: center;
}
.cardCadastrarCliente{
	background-color: rgb(186, 189, 182);
	width: 76%;
    height: auto;
    margin: 12px;
    margin-left: 10%;
     font-size: 16px;
     border-radius: 25px;
     text-align: center;
}
.row{
	text-align: center;
	border-radius: 20px;
	width: 80%;
	height: auto;
	margin:1px;
}
orm-group col-md-8{
	display:flex;
    margin-right: 30%;
    margin-left: 40%;
}

/*PaginaLogin*/

form {
 position: relative;
 z-index: 1;
 background: #FFFFFF;
 max-width: 360px;
 margin: 0 auto 100px;
 padding: 45px;
 text-align: center;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 border-radius: 23px;
}
form input {
 font-family: "Roboto", sans-serif;
 outline: 0;
 background: #f2f2f2;
 width: 100%;
 border: 0;
 margin: 0 0 15px;
 padding: 15px;
 box-sizing: border-box;
 font-size: 14px;
}
form button {
 font-family: "Roboto", sans-serif;
 text-transform: uppercase;
 outline: 0;
 background: #4CAF50;
 width: 100%;
 border: 0;
 padding: 15px;
 color: #FFFFFF;
 font-size: 14px;
 -webkit-transition: all 0.3 ease;
 transition: all 0.3 ease;
 cursor: pointer;
}
.form button:hover, .form button:active, .form button:focus {
 background: #43A047;
}
.form .message {
 margin: 15px 0 0;
 color: #b3b3b3;
 font-size: 12px;
}
.form .message a {
 color: #4CAF50;
 text-decoration: none;
}
.form .register-form {
 display: none;
}
.container {
 position: relative;
 z-index: 1;
 max-width: 300px;
 margin: 0 auto;
}
.container:before, .container:after {
 content: "";
 display: block;
 clear: both;
}
.container .info {
 margin: 50px auto;
 text-align: center;
}
.container .info h1 {
 margin: 0 0 15px;
 padding: 0;
 font-size: 36px;
 font-weight: 300;
 color: #1a1a1a;
}
.container .info span {
 color: #4d4d4d;
 font-size: 12px;
}
.container .info span a {
 color: #000000;
 text-decoration: none;
}
.container .info span .fa {
 color: #EF3B3A;
}

/* RESPONSIVIDADE */

