<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Atualizar cliente</title>
	<script type="text/javascript">
		function consulta() {
			window.open("/sig/clientes");
		}
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<header th:replace="fragments/header :: menuSuperior">
	<div>header</div>
</header>

<body>
	<div class="container my-5">
		<br />
		<h3>Atualizar Cliente</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#" th:action="@{/sig/clientes/id/{id} (id=${cliente.id}) }" th:object="${cliente}"
						method="post">
						<div class="row">
							<div class="form-group col-md-4">
								<label for="cpf" class="col-form-label">CPF</label> <input type="text" th:field="*{cpf}"
									class="form-control" id="cpf" placeholder="cpf"> <span
									th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="text-danger">
								</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="nome" class="col-form-label">Nome</label>
								<input type="text" th:field="*{nome}" class="form-control" id="nome" placeholder="Nome">
								<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger">
								</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="dataNascimento" class="col-form-label">Data Nascimento</label>
								<input type="text" th:field="*{dataNascimento}" class="form-control" id="dataNascimento"
									placeholder="Data Nascimento">
								<span th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"
									class="text-danger">
								</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="cep" class="col-form-label">CEP</label>
								<input type="text" th:field="*{cep}" class="form-control" id="cep" placeholder="CEP">
								<span th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}" class="textdanger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="endereco" class="col-form-label">Endereço</label>
								<input type="text" th:field="*{endereco}" class="form-control" id="endereco"
									placeholder="endereco" readonly>
								<span th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"
									class="textdanger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="complemento" class="col-form-label">Complemento</label>
								<input type="text" th:field="*{complemento}" class="form-control" id="complemento"
									placeholder="complemento">
								<span th:if="${#fields.hasErrors('complemento')}" th:errors="*{complemento}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<input type="submit" class="btn btn-primary" value="Atualizar Cliente">
								<input type="button" class="btn btn-primary" value="Consultar Cliente"
									onclick="consulta();">
							</div>
						</div>
					</form>
				</div>
			</div>
			<h6 th:text="${message}" class="text-danger"></h6>
		</div>
	</div>
</body>

</html>