<!DOCTYPE html>
<html lang="pt-BR">
	<head>
	<!--metadados-->
	<meta charset="utf-8">
	<meta name="description" content="Inicio">
	<meta name="keywords" content="Iniciohtml, web">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/css/contraste.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/contraste.css}" />
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="js/visualização-produto.js"></script>
        <link rel = "icon" type ="imagem/favicon.ico" href="imagem/Favicon.ico">
        <link rel="stylesheet" 	href="form.css">
        <title>Chuteira Campo Puma One 5.3 Branco - O Melhor Dos Artigos Esportivos Para Você</title>
      <script type="text/javascript">
		function home() {
			window.open("/");
		}
		function acessarTenis(){
			window.open("/tenis");
		}
		function acessarEquipamentos(){
			window.open("/equipamentos");
		}
		function acessarAcessibilidade(){
			window.open("/acessibilidade");
		}
	</script>
    </head>
	
    <body>
        <!-- cabeçalho -->
        <header id="topo">
            <div id="acessibilidade">
                <ul id="atalhos">
                    <li>
                        <a href="#conteudo" accesskey="1" title="Ir diretamente para o conteúdo">Ir para o conteudo [1]</a>
                    </li>

                    <li>
                        <a href="#menu" accesskey="2" title="Ir diretamente para o menu">Ir para o menu [2]</a>
                    </li>

                    <li>
                        <a href="#rodape"accesskey="3" title="Ir diretamente para o rodapé">Ir para o rodape [3]</a>
                    </li>
                </ul>

                <ul id="atalhos2">
                    <li>
                        <a th:href="@{/acessibilidade}"  title="Ir para pagina de acessabilidade">Acessibilidade</a>
                    </li>

                    <li>
                        <a href="#" title="Contraste preto" id="modoEscuro">Modo escuro</a>
                    </li>

                    <li >
                        <a href="#" title="sem Contraste" id="modoClaro">Modo Claro</a>
                    </li>

                    <li>
                        <a href="#" title="Aumentar a fonte(Ctrl +)" id="aumentaFonte">A+</a>
                    </li>

                    <li>
                        <a href="#" title="Diminuir a fonte(Ctrl -)" id="diminuiFonte">A-</a>
                    </li>
                </ul>
            </div>
            
            <div class="navGrid">
                <!-- BARRA DE PESQUISA -->
                <div id="barraPesquisa">
                    <input class="Buscar" type="text" name="buscar" placeholder= "Buscar...">
                    <!-- <img src="imagem/lupa-arredondada.png" alt="Pesquisar">  -->
                </div>
                
                <div class="logo">
                    <!-- LOGO -->
                    <a th:href="@{/}"><img src="imagem/fullSportLogo.png" alt="Logo da loja"></a>
                </div>
                
                <div>
                    <!-- Icones de redes sociais -->
                    <ul class="conjuntoIcones">
                        <li>
                            <a href="https://www.facebook.com">
                                <img  src="imagem/facebook.png" alt="Facebook"/>
                            </a> 
                        </li>
    
                        <li>
                            <a href="https://twitter.com">
                                <img src="imagem/twitter.png" alt="Twitter"/>
                            </a> 
                        </li>
        
                        <li>
                            <a href="https://www.instagram.com/">
                                <img src="imagem/instagram.png" alt="Instagram"/>
                            </a> 
                        </li>
        
                        <li>
                            <a href="https://www.whatsapp.com">
                                <img src="imagem/whatsapp.png" alt="Whatsapp"/>
                            </a> 
                        </li>
                    </ul>
                </div>
            </div>

            <nav id="menu">
                <ul>
                    <li class="active"><a th:href="@{/}">Home</a></li>
				<li> <a th:href="@{/sig/cliente}"> Clientes </a> </li>
				<li> <a th:href="@{/sig/produto}">Produtos</a></li>
				<li><a th:href="@{/equipamentos}">Equipamentos</a></li>
				<li><a th:href="@{/login?logout}">Logout</a></li>
                </ul>
            </nav>
        </header>
        
        <!-- Vlibrs -->
		<div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
  
        <section id="visualizacaoPrd">
            <div class="gridVisuPrd">
                <div class="fotosAdcPrd">
                    <!-- <form action=""> -->
                        <button id="opcImg1">
                            <img src="imagem/produtos/btnchuteira-campo-puma-one-2.png" alt="">
                        </button>

                        <button id="opcImg2">
                            <img src="imagem/produtos/chuteira-campo-puma-one-2.jpg" alt="">
                        </button>

                        <button id="opcImg3">
                            <img src="imagem/produtos/chuteira-campo-puma-one-3.jpg" alt="">
                        </button>
                        
                        <button id="opcImg4">
                            <img src="imagem/produtos/chuteira-campo-puma-one-4.jpg" alt="">
                        </button>

                        <!-- <input type="radio" name="opcImg" id="opcImg2">
                        <label for="opcImg2"> <img src="imagem/produtos/chuteira-campo-puma-one-2.jpg" alt=""></label>
                        
                        <input type="radio" name="opcImg" id="opcImg3">
                        <label for="opcImg3"> <img src="imagem/produtos/chuteira-campo-puma-one-3.jpg" alt=""></label>
                        
                        <input type="radio" name="opcImg" id="opcImg4">
                        <label for="opcImg4"> <img src="imagem/produtos/chuteira-campo-puma-one-4.jpg" alt=""></label> -->
    
                    <!-- </form> -->

                    <!-- <img src="imagem/produtos/chuteira-campo-puma-one-2.jpg" alt="">
                    <img src="imagem/produtos/chuteira-campo-puma-one-3.jpg" alt=""> -->
                </div>

                <div class="fotoPrd">
                    <img src="imagem/produtos/btnchuteira-campo-puma-one-2.png" alt="" id="imgPrd1">
                    
                    <img src="imagem/produtos/chuteira-campo-puma-one-2.jpg" alt="" id="imgPrd2">
                    <img src="imagem/produtos/chuteira-campo-puma-one-3.jpg" alt="" id="imgPrd3">
                    <img src="imagem/produtos/chuteira-campo-puma-one-4.jpg" alt="" id="imgPrd4">
                </div>

                <div class="descAnunPrd">
                    <div class="conteudoDescAnunPrd">
                        <p class="titDescPrd">Chuteira Campo Puma One 5.3 Branco</p>
                        <p class="frtGrtsCard">Frete Grátis</p>
                        <p class="prcPromoPrd">R$ 199,90</p>
                        <p class="prcPrd">R$ 179,90</p>
                        <p class="subTitPrd">em até 12x de R$ 14,99</p>
                        <div class="tmnhPrd">
                            <p>Selecione seu tamanho</p>
                            <label for=""><input type="radio" name="optTamanho" id="tam36"> 36</label>
                            <label for=""><input type="radio" name="optTamanho" id="tam39"> 39</label>
                            <label for=""><input type="radio" name="optTamanho" id="tam40"> 40</label>
                            <label for=""><input type="radio" name="optTamanho" id="tam42"> 42</label>
                            <label for=""><input type="radio" name="optTamanho" id="tam44"> 44</label>
                        </div>
                        <div class="tmnhQtd">
                            <p>Quantidade</p>
                            <input type="number" placeholder="Nº">
                        </div> 
                        <div class="btnLinkPrd">
                            <a href=""><input type="button" value="Comprar"></a>
                            <a href="#">Calcular frete</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

       <footer id="rodape"> 
        <div class="grid-footer">
            <div id="desenvolvedoresFoot">
                <p class="tituloFoot">Desenvolvido pelo Grupo 5  - Fatec Zona Leste</p> 
                <p>Renan Figueiredo</p>
                <p>Lisandra Ferraz</p>
                <p>Gabriel Gozzi</p>
                <p>João Victor</p>
            </div>
        
            <div id="selosFoot">
                <p class="tituloFoot">Site verificado por</p> 
                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="CSS válido!" />
                </a>
                
                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="CSS válido!" />
                </a>
            </div>
            
        </div>
        <p class="drtsFooter">Todos os direitos reservados &copy; 2022.</p>
    </footer> 
    </body>
</html> 
<script src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
crossorigin="anonymous"></script>
<script src="js/fonte.js"></script>
<script src="js/contraste.js"></script>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>


